:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(10, 13, 31, 0.87);
  background-color: rgb(240 249 255);
}

body {
  /* margin: 0; */
  display: flex;
  /* background-color: rgba(119, 130, 147, 0.87); */
}
